<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 {{Title}}

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  
  <!-- Custom fonts for this template -->
  <link href="css/business-casual.min.css" rel="stylesheet">
 
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer|Merienda+One" rel="stylesheet"> 
  
<style>
    
	
body {
    background: url(img/wheat.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }
    
 .nola{
    font-family: 'Merienda One', cursive;
  }
.juice{
font-family: 'IM Fell Great Primer', serif;
font-size:40px;
}

.hey {
   border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  }
   
</style>


</head>
 <h1 class="site-heading text-center text-primary mb-3 d-none d-lg-block"> 
    <span class="nola">Kendyl O Fenton</span><br><br>
    <span class="site-heading-lower text-primary mb-3"><span class="nola">Full Stack Developer</span></span>
  </h1>
  </div>
  <!-- Navigation -->
  
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-white text-expanded font-weight-bold d-lg-none" href="#"><span class="nola">Welcome!!!!</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="index.html"><span class="juice">Home</span>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="about.html"><span class="juice">Blog</span></a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="products.html"><span class="juice">Projects</span></a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="store.html"><span class="juice">About Me</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
<body>
  


{{content}}


  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Kendyl Fentona</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>







