<!-- Index Page -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Business Casual - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  
  <!-- Custom fonts for this template -->
  
  <link href="css/business-casual.min.css" rel="stylesheet">




<style>
    
	
body {
    background: url(img/wheat.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }
    
 .nola{
    font-family: 'Merienda', cursive;
  }
.juice{
font-family: 'Great Vibes', cursive;
font-size:40px;
}

.hey {
   border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  }
   
</style>


</head>

<body>
  

  <h1 class="site-heading text-center text-primary mb-3 d-none d-lg-block"> 
    <span class="nola">Kendyl O Fenton</span><br><br>
    <span class="site-heading-lower text-primary mb-3"><span class="nola">Full Stack Developer</span></span>
  </h1>
  </div>
  <!-- Navigation -->
  
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-white text-expanded font-weight-bold d-lg-none" href="#"><span class="nola">Welcome!!!!</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="index.html"><span class="nola">Home</span>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="about.html"><span class="nola">Blog</span></a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="products.html"><span class="nola">Projects</span></a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="store.html"><span class="nola">About Me</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="hey" class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/webpage_photo.PNG" alt="">
       
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Blog Page-->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Business Casual - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template-->
  
<link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet"> 
  <!-- Custom styles for this template -->
  <link href="css/business-casual.min.css" rel="stylesheet">
  <style>
  body {
    background: url(img/wheat.png);
    background-attachment: fixed;
    background-posnolaition: center;
    background-size: cover;
}
  .nola {
    font-family: 'Merienda', cursive;
}
.saints {
   font-family: 'Monoton', cursive;
   }
  
  .blogger {
  font-family: 'Special Elite', cursive;
  }
</style>
</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-lower text-primary mb-3"><span class="nola">Follow Me On My Journey</span></span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-white text-expanded font-weight-bold d-lg-none" href="#">Kendyl Fenton</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="about.html">Blog</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="products.html">Projects</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="store.html">About Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- Project-->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Business Casual - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
  
<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet"> 

  <!-- Custom styles for this template -->
  <link href="css/business-casual.min.css" rel="stylesheet">
  
  <style>
  body {
    background: url(img/wheat.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.nola{
    font-family: 'Merienda', cursive;
    }
.cool {
  background-color: pink
  }
  .future{
  font-family: 'Sacramento', cursive;
}
.yea {
  font-family: 'Philosopher', sans-serif;
  color: blue;
   }
   
   .hey {
   border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  }
</style>


</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-lower text-primary mb-3"><span class="nola">What I"ve Been Up To </span></span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container" class="cool" >
      <a class="navbar-brand text-uppercase text-white text-expanded font-weight-bold d-lg-none" href="#">Kendyl Fenton</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="about.html">Blog</a>
          </li>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="products.html">Projects</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="store.html">About Me</a>
          </li>
        </ul>
      </div>
      </span>
    </div>
  </nav>
<!-- About me-->
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
   
<link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Crafty+Girls" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">
    
    
    <style>
    
	

body {
    background: url(img/bananas.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.nola{
    font-family: 'Crafty Girls', cursive;
    }

  .yea {
  font-family: 'Philosopher', sans-serif;
  
   }
</style>




  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3"><span class="nola">As You Can See I'm bananas for coding!!</span></span>
    
    </h1>

    <!-- Navigation -->
    <span class="cool">
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded text-white font-weight-bold d-lg-none" href="#">Kendyl Fenton</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="about.html">Blog</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="products.html">Projects</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="store.html">About Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
       </span>
