<!-- Index Page -->
<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper"><span class="nola">My Promise</span></span>
              <span class="section-heading-lower"><span class="nola">To You</span></span>
            </h2>
            <p class="mb-0"> <span class="juice">I promise to give my heart and soul to every single project that I work on, giving each client the very best. No matter how big or small the project, I will always strive to bring you a piece of art that will exceed your expectations.<br>
            Sincelery ,<br>
           <b> Kendyl Fenton</b> </span> </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

<!-- Blog Page -->
<footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Kendyl Fenton 2019</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

<!-- Projects Page -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

<!-- About Me -->

<h2>Contact</h2>
                <p>Now that you know a little about me, Send me a link and we can get started making your dreams come true!</p>

                <a href="mailto:kof2556@yahoo.com" class="btn btn-red btn-lg">
                    <i class="fas fa-envelope"></i> Email me
                </a>
   
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Your Kendyl Fenton 2019</p>
      </div>
    </footer>
    

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

  <!-- Script to highlight the active date in the hours list -->
  <script>
    $('.list-hours li').eq(new Date().getDay()).addClass('today');
  </script>

</html>
