<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Business Casual - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  
  <!-- Custom fonts for this template -->
  <link href="css/business-casual.min.css" rel="stylesheet">
 
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer|Merienda+One" rel="stylesheet"> 
  
<style>
    
	
body {
    background: url(img/wheat.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }
    
 .nola{
    font-family: 'Merienda One', cursive;
  }
.juice{
font-family: 'IM Fell Great Primer', serif;
font-size:40px;
}

.hey {
   border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  }
   
</style>


</head>

<body>
  

